<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Struts Blank</display-name>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 登录过滤器 -->
    <!-- 
    <display-name>filter</display-name> 
 
	<filter>   
		<filter-name>signOnFilter</filter-name>   
		<filter-class>com.common.SignOnFilter</filter-class>   
	</filter>  
	  
	<filter-mapping>   
	    <filter-name>signOnFilter</filter-name>   
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<!-- 登录过滤器结束 -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>  
        <servlet-name>dwr-invoker</servlet-name>  
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <!-- 
        <init-param>  
            <param-name>org.directwebremoting.extend.ScriptSessionManager</param-name>  
            <param-value>com.dwr.test.DWRScriptSessionManager </param-value>  
        </init-param>
         -->
        <init-param>  
            <param-name>debug</param-name>  
            <param-value>true</param-value>  
        </init-param>  
        <init-param>  
            <param-name>crossDomainSessionSecurity</param-name>  
            <param-value>false</param-value>  
        </init-param>  
        <init-param>  
            <param-name>allowScriptTagRemoting</param-name>  
            <param-value>true</param-value>  
        </init-param>  
        <init-param>  
            <param-name>pollAndCometEnabled</param-name>  
            <param-value>true</param-value>  
        </init-param>  
        <init-param>  
            <param-name>activeReverseAjaxEnabled</param-name>  
            <param-value>true</param-value>  
        </init-param>  
        <init-param>  
            <!-- dwr配置文件路径 -->  
            <param-name>config</param-name>  
            <param-value>/WEB-INF/dwr.xml</param-value>  
        </init-param>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
  
    <servlet-mapping>  
        <servlet-name>dwr-invoker</servlet-name>  
        <url-pattern>/dwr/*</url-pattern>  
    </servlet-mapping>  

</web-app>
